
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-font2 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
body{
    background-color: white;
}
.common-font{
    color: #E95A08;
    font-size: 50;
    font-weight: 800;
}
.common-paragraph{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.btn-primary{
    background-color: #E95A08;
    color: white;
    padding: 20px 25px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    /* width: 270px;
    height: 50px; */
    

}





/* header style */
/* navbar style */

.navbar{
    display: flex;
    max-width: 1140px;
    height: 71px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    gap: 10px;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.cart-icon img {
    width: 20px;
    height: 20px;
    /* vertical-align: middle; */
}
/* header banner styles */
.banner{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
    padding-top: 106px;
    padding-bottom: 0px;
    align-items: end;
}
.banner-title{
    font-size: 4rem;
}


/* Our Plants styles */
.plant{
    /* text-align: center; */
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 100px;

}

.plant-container{
    text-align: center;

}
.sub-title {
    max-width: 888px;
    margin: 0 auto;
}
.plant-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
    gap: 20px;
}

.plant-card div{
    text-align: center;
}
.plant-card .name{
    font-size: 1.25rem;
    font-weight: 600;
}
.plant-card .price{
    font-size: 1.25rem;
    font-weight: 800;
}
.plant-card button{
    width: 100%;
}


/* responsive media query */
@media screen and (max-width:576px) {
    /* nav bar */
    .nav-item{
        display: none;

    }
    .cart-icon,
    .cart-label {
    display: flex; /* Show cart icon and label */
    /* margin-right: 0; */
    /* align-items: center; */
    }
     .navbar{
        display: flex;
        align-items: center;
        margin:0 16px;
    }
    .logo{
        max-width: 63px;
        height: 50px;
    }

    /* banner*/
    .banner{
        flex-direction: column;
        margin-top: 28px;
        padding-top: 0px;
    }
    .banner-pic{
        order: 1;
    }
    .banner-content{
        order: 2;;
    }
    .banner-title{
        font-size: 1.5rem;
    }
    .banner-content{
        font-size: .7rem;
    }

    .plant-card{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 5px;
            
    
    }
    .plant-card img{
        max-width: 100%;
    }
   
  
    
}